path = "/etc/rspamd/dkim/$selector.key";
selector_map = "/etc/rspamd/dkim_selectors.map";
selector = {{ environ('RSPAMD_DKIM_DEFAULT_SELECTOR') }}

# Sign all authenticated mail and local mail (includes forwards)
sign_authenticated = true;
sign_local = true;
sign_inbound = false;
use_domain = "header";
allow_headers_fallback = true;
