# https://github.com/rspamd/rspamd/issues/2405
count = 1;

bind_socket = 0.0.0.0:11334;

{% if environ('RSPAMD_CONTROLLER_PASSWORD') -%}
password = "{{ environ('RSPAMD_CONTROLLER_PASSWORD') }}";
{%- else -%}
# No password set - open access (use RSPAMD_CONTROLLER_PASSWORD env var to secure)
# https://github.com/rspamd/rspamd/issues/2003
password = "";
secure_ip = "0.0.0.0/0";
{%- endif %}