name: rspamd container pre-publish

on:
  workflow_call:
    inputs:
      checkout-ref:
        description: The branch, tag or SHA to checkout. Defaults to the reference or SHA for that event.
        required: false
        type: string
      dockerfile-dir:
        description: Dockerfile directory
        required: false
        type: string
    outputs:
      container-image-name:
        value: ${{ jobs.rspamd-pre-publish.outputs.container-image-name }}
      rspamd-version:
        value: ${{ jobs.rspamd-pre-publish.outputs.rspamd-version }}

jobs:
  rspamd-pre-publish:
    runs-on: ubuntu-latest
    outputs:
      container-image-name: ${{ steps.container-image-name.outputs.VALUE }}
      rspamd-version: ${{ steps.rspamd-version.outputs.VERSION }}
    steps:
      - name: Compose container image name
        id: container-image-name
        run: echo "VALUE=${REPO_NAME#container-}" >>$GITHUB_OUTPUT
        env:
          REPO_NAME: ${{ github.event.repository.name }}

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ inputs.checkout-ref }}

      - name: Find out embedded rspamd version
        id: rspamd-version
        run: echo "VERSION=$(scripts/rspamd-version.sh "${{ inputs.dockerfile-dir }}")" >>$GITHUB_OUTPUT
